.no-opacity {
  opacity: 0;
}

.loading-text {
  position: absolute;
}

/* General CSS Begin */

.weather-widget {
  border: 1px solid black;
  min-width: 300px;
  width: 50vw;
  max-width: 800px;
  margin: 25px auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search-container {
  position: relative;
  text-align: end;
}

.search-container .tooltip {
  text-align: initial;
}

.display-options {
  display: flex;
  justify-content: space-between;
}

.search-field-wrapper .tooltip {
  font-size: 75%;
  border: 1px solid black;
  margin: 2px 0;
  padding: 3px 5px 10px 5px;
  border-radius: 5px;
  line-height: 1.25;
  background: linear-gradient(rgba(255,255,255,1), rgba(175,175,175, 0.2));
  animation: fade-in-top 0.7s;
}

@keyframes fade-in-top {
  0% {
    opacity: 0.3;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
  }
}

.search-field.wrapper .tooltip:nth-child(1) {
  
}

.widget-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
}

.selected {
  background-color: rgba(100,100,100,0.5);
}

.temperature:after{
  content: "°";
}

.min-temp, .max-temp {
  display: inline-block;
}

.min-temp {
  border-right: 1px solid black;
}

.today .weather-icon {
  width: 64px;
}

.multiday .days {
  display: flex;
  flex-direction: row;
}

.wind-speed:after {
  content: " MPH";
}

.data-view {
  min-height: 200px;
}

/* General CSS End */

/* One Day View CSS */

