:root {
  --overcast-bg: linear-gradient(217deg, rgba(157, 166, 179, 1), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(121, 121, 121, 1), rgba(165, 165, 165, 0.39) 70.71%), linear-gradient(336deg, rgba(30, 30, 40, .95), rgba(0, 0, 255, 0) 70.71%);
  --sunny-bg: linear-gradient(217deg, rgb(50 130 244), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgb(184 231 245), rgb(115 136 163 / 71%) 70.71%), linear-gradient(336deg, rgb(25 57 216 / 95%), rgba(0, 0, 255, 0) 70.71%);
  --sunrise-bg: linear-gradient(217deg, rgb(242 176 78), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgb(11 46 99), rgb(207 146 117 / 71%) 70.71%), linear-gradient(336deg, rgb(9 21 160 / 95%), rgb(21 51 133 / 68%) 70.71%);
  --sunset-bg: linear-gradient(217deg, rgb(41 47 120), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgb(242 115 55), rgb(243 219 152 / 71%) 70.71%), linear-gradient(336deg, rgb(172 98 75 / 95%), rgb(118 21 21 / 0%) 70.71%);
  --night-bg: linear-gradient(217deg, rgb(35 31 110), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgb(13 25 59), rgb(34 28 13 / 71%) 70.71%), linear-gradient(336deg, rgb(0 0 0 / 95%), rgb(118 21 21 / 0%) 70.71%);
  --night-overcast-bg: linear-gradient(217deg, rgb(101 101 101), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgb(55 50 42 / 96%), rgb(22 21 24 / 71%) 70.71%), linear-gradient(336deg, rgb(3 3 3 / 95%), rgb(118 21 21 / 0%) 70.71%);
}

.no-opacity {
  opacity: 0;
}

.reload {
  position: relative;
  font-family: inherit;
}

.loading-text {
  position: absolute;
  right: 150%;
  top: 0;
  font-family: inherit;
  color: white;
  text-align: left;
}

/* General CSS Begin */

.weather-widget {
  position: relative;
  border: 1px solid black;
  min-width: 300px;
  width: 50vw;
  max-width: 600px;
  margin: 25px auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 5px;
  border-radius: 5px;
  background: black;
  color: white;
  text-shadow: 1px 1px 3px hsl(0, 0%, 20%);
  max-height: 300px;
  transition: background 0.7s;
  z-index: 1;
  box-shadow: 2px 6px 15px 2px hsl(0 0% 14%);
}

.weather-widget .bg {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: var(--night-bg);
  z-index: -1;
  opacity: 0;
}

.gradual-opacity {
  animation: gradual-opacity 1s linear;
}

@keyframes gradual-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.weather-widget:hover::before {
  opacity: 1;
}

.search-container, .search-container>div {
  position: relative;
  text-align: end;
  height: 1.5em;
  margin-bottom: 5px;
}

.search-container input, .search-container button {
  height: 100%;
  font-family: inherit;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid white;
}

.search-container input {
  border-radius: 2px;
}

.search-container .tooltip {
  text-align: initial;
}

.search-field-wrapper .tooltip {
  font-size: 75%;
  border: 1px solid black;
  margin: 2px 0;
  padding: 3px 5px 10px 5px;
  border-radius: 5px;
  line-height: 1.25;
  background: linear-gradient(rgb(94, 93, 93), rgba(175, 175, 175, 0.9));
  animation: fade-in-top 0.7s;
}

@keyframes fade-in-top {
  0% {
    opacity: 0.3;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
  }
}

.search-field.wrapper .tooltip:nth-child(1) {}

.widget-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  font-size: 75%;
}

.widget-footer .logo {
  font-style: italic;
}

.display-options {
  display: flex;
  justify-content: space-between;
}

.display-options button {
  all: unset;
  margin: 2px 5px;
  transition: text-shadow 0.5s border 0.5s;
  padding-bottom: 1px;
}

.display-options button.selected {
  border-bottom: 3px solid hsl(180, 50%, 75%);
  text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.8);
}

.temperature:after {
  content: "°";
}

.multiday .days {
  display: flex;
  flex-direction: row;
}

.wind-speed:after {
  content: " MPH";
}

.data-view {
  min-height: 200px;
}

.data-view .icon {
  filter: brightness(1.25) contrast(1.25) hue-rotate(25deg) saturate(4.0);
}

.min-temp {
  color: rgba(255, 255, 255, 0.55);
}

/* General CSS End */

/* One Day View CSS Begin */

.display-city {
  font-size: 150%;
  font-weight: 600;
  text-align: end;
}

.display-country {
  font-size: 125%;
  text-align: end;
  font-weight: 100;
}

.data-view.today .weather-data {
  display: grid;
  grid-template-areas: "icon current" "icon minmax" "wind wind" "desc desc";
  grid-template-columns: 128px 1fr;
  grid-template-rows: 48px 48px 1fr 1fr;
  max-width: 225px;
  margin: 0 auto;
  text-align: center;
}

.data-view.today .weather-icon {
  grid-area: icon;
  width: 90px;
  transform: scale(1.25);
  justify-self: center;
}

.data-view.today .current-temp {
  grid-area: current;
  font-size: 350%;
  align-self: center;
  justify-self: end;
  letter-spacing: -0.5mm;
}

.data-view.today .min-max-temp {
  grid-area: minmax;
  font-size: 175%;
  align-self: center;
  display: flex;
  justify-self: end;
  width: 100%;
  justify-content: space-around;
  font-weight: 100;
}

.min-temp, .max-temp {
  display: inline-block;
}

.data-view.today .wind {
  grid-area: wind;
  margin: 3px;
}

.data-view.today .wind-label {
  display: inline-block;
  padding-right: 5px;
}

.data-view.today .wind-speed {
  padding: 0 5px;
}

.data-view.today .weather-description {
  grid-area: desc;
  font-style: italic;
}

/* One Day View CSS End */

/* 3 Day View CSS Begin */

.three-day .days {
  justify-content: space-around;
}

.three-day .days .day-of-week {
  text-align: center;
  font-weight: 600;
  font-size: 115%;
  border-bottom: 2px dotted rgba(255, 255, 255, 0.4);
  padding-bottom: 5px;
  margin: 0 25px;
}

.three-day .days .icon {
  width: 40%;
  margin: 0 auto;
  display: block;
  transform: scale(1.35);
}

.three-day .days .day-temp {
  font-size: 125%;
  font-weight: 600;
  display: block;
  margin: 0 auto;
  width: 25%;
  text-align: center;
}

.three-day .days .min-max-temp {
  width: fit-content;
  margin: 0 auto;
}

.three-day .days .min-max-temp p {
  margin: 10px 5px;
}

/* 3 Day View CSS End */

/* Weekly View CSS Begin */

.weekly .days {
  margin: 10px 0;
}

.weekly .days .icon {
  width: 85%;
  margin: 0 auto;
  display: block;
}

.weekly .days .day {
  border: 1px solid hsla(0, 0%, 50%, 100%);
  border-right: 0px;
  padding: 10px 0;
}

.weekly .days {
  /* justify-content: space-around; */
  margin: 10px 0;
}

.weekly p.day-of-week {
  text-align: center;
  /* font-weight: 400; */
}

.weekly p.day-temp.temperature {
  text-align: center;
  font-size: 125%;
}

.weekly .days .min-max-temp {
  margin-top: 5px;
}

.weekly .days:nth-last-child(1) {
  border-right: 1px solid hsla(0, 0%, 50%, 100%);
}

.weekly .min-max-temp p {
  width: 50%;
  text-align: center;
  font-size: 90%;
}

/* Weekly View CSS End */